* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}


body {
  max-width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 500px;
  height: 500px;
  background-color: aqua;
}

aside {
  width: 100px;
  height: 100px;
  background-color: green;
  animation-name: right, down, left, up;
  animation-duration: 2s, 2s, 2s, 2s;
  animation-delay: 1s, 5s, 9s, 13s;
  animation-timing-function: linear ;
  animation-fill-mode: forwards;}

@keyframes right {
  from {
      background-color: green;
      transform: translateX(0);
  }

  to {
      transform: translateX(400px);
  }
}

@keyframes down {
  from {
      background-color: red;
      transform: translateX(400px);
  }

  to {
      background-color: red;
      transform: translate(400px,400px);
  }
}

@keyframes left {
  from {
      background-color: yellow;
      transform: translate(400px,400px);
  }

  to {
      background-color: yellow;
      transform: translate(0, 400px);
  }
}

@keyframes up {
  from {
      background-color: blue;
      transform: translate(0, 400px);
  }

  to {
      background-color: blue;
      transform: translateY(0);
  }
}