* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    display: grid;
    grid-template-columns: 25% auto;
    height: 100dvh;

 }

nav {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 5rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    transition: all 1s ease-in-out;
    opacity: 0;



}

nav a {
    color: #7A7A7A;
    display: flex;
    gap: 1rem;


}

h3 {
    color: white;
    margin-bottom: 1rem;
}

nav>a:nth-child(1) {
    margin-top: 5rem;
}

aside {
    padding-left: 1rem;
}

nav.open {
    background-color: #222;
    opacity: 1;


}

a.toggle {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background-color: red;
}
.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    align-items: center;
}
h1,h2{
    padding-right: 12.5%;
}
